@font-face {
    font-family: Reckless;
    src: url(./fonts//RecklessCondensedS-TRIAL-Book.woff);
}

 @font-face {
    font-family: Figtree;
    src: url(./fonts/figtree_n4.3c0838aba1701047e60be6a99a1b0a40ce9b8419.woff2);
}

@font-face {
    font-family:  Midnight;
    src: url(./fonts//midnight-sans-rd-12-medium-trial.otf);
} 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
    width: 100%;
    min-height: 100vh;
    background-color: #FBF9EB;
    
    
}
nav{
    width: 100%;
    height: 10;
    background-color: #FFFEFB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Reckless;
    padding: 0.8vw 1vw;
    border-radius: 1vw;
    font-size: 0.8rem;
    position: fixed;
    top: 0;
    left: 0;
}

nav .nav-part-1{
    display: flex;
    gap: 1rem;
    font-weight: 100;
    width: 33%;
    
}
.nav-part-1 h3{
    font-weight: 300;
}

nav .nav-part-2{
    width: 5vw;
    height: auto;
    display: flex;
    

}

.nav-part-2 img{
    width: 100%;
    object-fit: cover;
}

.nav-part-3{
    display: flex;
    width: 33%;
    gap: 2vw;
    align-items: center;
    justify-content: end;
}

.nav-part-3 h3{
    font-weight: 300;
}
.nav-part-3 svg{
    width: 1.5vw;
}

#section-1{
    height: 90vh;
    width: 100%;
    background-image: url(https://www.twoleavestea.com/cdn/shop/files/AlpineBerry.webp?v=1774284236&width=3600.0);
    background-size:cover ;
    background-position: center; 
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding: 3vw;
    align-items: start;
    gap: 1vw;

}

#section-1 h1{
    font-size: 3rem;
    max-width: 30vw;
    font-weight: 300;
    font-family: Reckless;
    color: #FBF9EB;
}
#section-1 p{
    font-size: 1rem;
    font-weight: 300;
    font-family: Figtree;
    max-width: 33vw;
    color: #FBF9EB;

}

#section-1 button{
    padding: 0.8vw 3.5vw;
    border: none;
    font-size: 1rem;
    background-color: #2A2857;
    color: white;
    border-radius: 2.5vw;
    font-family: Figtree;
}